@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    background: #333;
    font-family: 'Poppins', sans-serif;
}

.header_class{
    background-color: black;
    display:flex;
    justify-content: space-around;
}

.img_logo{
margin-left:5%;
}

.button_elem{
padding-left: 25px;
padding-right: 25px;
background-color: black;
color: white;}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 60px;
}

header {
    position: fixed;
    display: inline;
    background-color: black;
}

.sections {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sec1 {
background-color:red;
    justify-content: center;
}

#sec2 {
background-color:yellow;
    justify-content: center;
}

#sec3 {
background-color:green;
    justify-content: center;
}

#sec4 {
background-color:blue;
    justify-content: center;
}

#sec5 {
background-color:orange;
    justify-content: center;
}

#sec6 {
background-color:gray;
    justify-content: center;
}
