.authorization{
    display: flex;
    justify-content: space-between;
}

.header_class{
    background-color: black;
    display:flex;
    justify-content: space-around;
}

.img_logo{
margin-left:5%;
}

.button_elem{
padding-left: 25px;
padding-right: 25px;
background-color: black;
color: white;}


.list1 {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content p {
    text-align: center;
}