<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Анапа+</title>
        <link rel="stylesheet" href='/static/style.css'/>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="/static/logo.jpg" >
            </div>
            <div class="menu">
                <a href="/booking" class="menu_button">Бронирование отелей</a>
                <a href="/tours" class="menu_button">Туры</a>
                <a href="/places" class="menu_button">Достопримечательности</a>
                <a href="/on-foot_routes" class="menu_button">Пешие маршруты</a>
                <a href="/beaches" class="menu_button">Пляжи</a>
                <a href="/loyality" class="menu_button">Программа лояльности</a>
            </div>
            <div class="user_button">
                <button><img src="/static/user_icon.jpg"></button> 
            </div>
        </header>
        
        <p class="slogan">Давай вместе<br/>откроем Анапу</p>
        
        <div>
            <form action="/register" method="GET"><input type="submit" value="Зарегистрироваться"></form>
            <form action="/login" method="POST">
        </div>
        <div>
            <label for="username">Имя пользователя:</label><br>
            <input type="text" id="username" name="username" class="user_data"><br>
        </div>
        <div>
            <label for="password">Пароль:</label><br>
            <input type="password" id="password" name="password" class="user_data"><br>
        </div>
        <br>
        <input type="submit" value="Войти">
        {% if current_user.is_authenticated %}
            <p class="login_state">Вы авторизованы</p>
            <a href="/logout" class="sign_out">Выйти</a><br/>
        {% else %}
            <p class="login_state">Вы не авторизованы</p><br/>
        {% endif %}
        <br/>
        <br/>
        <br/>
        <footer>
            <p >Так выгоднее.</p>
            <p>&copy; 2024 Анапа+. Все права защищены.</p>
        </footer>
        
    </body>
</html>
